body {
    background-color: black;
    font-family: monospace;
}
.pp {
    text-align: right;
    color: white;
}
.cooter {
    display: flex;
    flex-flow: row wrap;
    justify-content: left;
}
.cooter > div {
    background-color: darkslategray;
    color: white;
    outline: white solid;
    padding: 4px;
    width: 200px;
    margin: 10px;
    text-align: left;
}
.board {
    border: white solid;
    color: white;
    padding: 5px;
}
.footer {
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
    position: fixed;
}
.board-header {
    text-align: center;
}